[Unit]
Description=nmcli-dhcp-manager
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
User=user
WorkingDirectory=/opt/nmcli-dhcp-manager
ExecStartPre=/bin/sleep 30
ExecStart=/opt/nmcli-dhcp-manager/.venv/bin/python /opt/nmcli-dhcp-manager/nmcli-dhcp-manager.py --devices enp4s0
Restart=on-failure

[Install]
WantedBy=multi-user.target
