[Unit]
Description=nmcli-dhcp-manager
After=syslog.target network.target

[Service]
Type=simple
WorkingDirectory=/opt/nmcli-dhcp-manager
ExecStartPre=/bin/sleep 30
ExecStart=/opt/nmcli-dhcp-manager/.venv/bin/python /opt/nmcli-dhcp-manager/nmcli-dhcp-manager.py --devices enp2s0f0,enp2s0f1
Restart=on-failure

[Install]
WantedBy=multi-user.target